<style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

</style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEBDD;
  align-items: center;


}

#b1{


    height: 1080px;
    background-color: #EEEBDD;
}

#navi{
padding: 2em;
background-color: #810000;

}

#navilogo{
  font-weight: bold;
  color: white;
  font-size: 2em;

}



#menu{
    border: 3px solid #fff;
    background-color: #fff;
    opacity: .8;
}


#navbarToggler{
  margin-right: 25px;

}

#nav-link{
  color: white;
}
#lst{
  padding-left: 60px;
}

#lnk{
  color: white;
  font-family: "Montserrat";
}

#container1 {

margin-bottom: 100px;
  align-items: center;
}

.head1 {
  color: black;
  margin: 100px auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 2.3em;
}

#bg1, #bg2, #bg3 {
  background-color: #810000;
  margin: 100px 20px;
  
}



h2 {

  color: white;
  background-color: #1B1717;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.6em;
}

p{
  color: white;

  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}


/************************ Small Display Only **************************/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 4em;
  }


  #bg1, #bg2, #bg3 {
    background-color: #810000;
    margin: 100px 40px;

  }

}
